.myApp {
    display:none;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

md-list-item > button {
  width: 100%;
  text-align: left !important;
}

#content {
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px; 
}

md-sidenav > md-radio-group {
  padding-top: 10px;
  padding-left: 20px;
}

div.marker {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: .5em;
  padding: 2px 5px;
  margin-right: 5px;
}

.danger {
  background-color: #d9534f;
}

.warning {
  background-color: #f0ad4e;
}

.success {
  background-color: #5cb85c;
}

.info {
  background-color: #5bc0de;
}

.default {
  background-color: #777;
}

.record {
  outline: 0;
}