<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Index</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- build:css styles/main.css -->	
	<link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css" />
	<link rel="stylesheet" href="styles/mystyles.css" />
<!-- endbuild -->	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body ng-app="MyApp" layout="column">
	<md-toolbar>
		<h1>Электронный дневник</h1>
	</md-toolbar>
	
	<div class="container" layout="row" flex="100" ng-controller="DailyCtrl">
		<md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
			<md-toolbar>
				<h3 class="md-toolbar-tools">Период</h3>
			</md-toolbar>
			
			<md-datepicker md-placeholder="Введите дату" ng-model="selectedDate"></md-datepicker>
			
			<md-toolbar>
				<h3 class="md-toolbar-tools">Разделы дневника</h3>
			</md-toolbar>

			<md-list>
				<md-list-item ng-repeat="section in selectedDay.sections">
					<md-button ng-click="setSection(section.type);" 
						ng-class="{'md-primary':section.type == selectedSection}">
						{{section.name}}
					</md-button>
				</md-list-item>
				<md-list-item>
					<md-input-container ng-hide="availableSections.length == 0">
						<md-select ng-model="sectionToAdd" md-on-close="addSection()" placeholder="Добавить раздел">
							<md-option ng-value="section.type" ng-repeat="section in availableSections">{{section.name}}</md-option>
						</md-select>
					</md-input-container>
				</md-list-item>
			</md-list>
		</md-sidenav>

		<md-content id="content" flex>
			<md-list>
				<md-list-item ng-repeat="record in selectedDay.rows | filter: selectedSection | orderBy: 'marker'">
					{{record.marker}} : {{record.short}}
				</md-list-item>
				<md-list-item ng-controller="RecordController">
				    <form layout="row" name="recordForm" flex ng-submit="addRecord();" novalidate>
					<md-input-container>
			      		<label>Маркер</label>
				        <select ng-model="marker" name="marker" ng-options="m.marker as m.marker for m in selectedSection.markers" required>
				        	
				        </select>
				    </md-input-container>
				    <md-input-container flex="75">
				        <label>Краткое описание</label>
				        <input ng-model="short" name="short" required>
				    </md-input-container>
				    <md-button type="submit" ng-show="recordForm.$valid">
				    	<md-icon>add</md-icon>
				    </md-button>
					</form>
				</md-list-item>
			</md-list>	
		</md-content>
	</div>

<!-- build:js scripts/main.js -->	
   	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../bower_components/angular-aria/angular-aria.js"></script>
	<script src="../bower_components/angular-material/angular-material.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/services.js"></script>
	<script src="scripts/controllers.js"></script>
<!-- endbuild -->	
	<style>
		.myApp {
			display:block;
			height: 100%;
		}
	</style>	
</body>

</html>
